<link rel="stylesheet" href="/css/header.css" />
<div id="navbar">
  <div id="left-part">
    <a href="/"
      ><img
        id="logo"
        height="35px"
        width="60px"
        src="/images/logo.jpg"
        alt="logo"
    /></a>
    <% if(locals.user){ %> <% if(locals.user.admin){ %>
    <ul>
      <li><a href="/user/view">Employees</a></li>
      <li><a href="/review/view-all">Performance-Reviews</a></li>
      <li><a href="/review/view-allotted">Allotted-Reviews</a></li>
    </ul>
    <% }else{%>
    <ul>
      <li><a href="/review/view-allotted">Allotted-Reviews</a></li>
    </ul>
    <% } %> <% } %>
  </div>
  <div id="right-part">
    <% if(locals.user){ %>
    <ul>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <% }else{ %>
    <ul>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
    </ul>
    <% } %>
  </div>
</div>
