<h1>Login Page</h1>
<form id="login-form" method="post" action="create-session">
  <label for="email">Enter your email: </label>
  <input name="email" type="email" />
  <label for="password">Enter your password: </label>
  <input name="password" type="password" />
  <button type="submit">Login</button>
</form>
<p>Admin Test Account - Username = "admin@test.com"  Password = "admin"</p>
<p>Non Admin Test Account - Username = "test@test.com" Password = "test" </p>
<br/>
<p>Default password is "password" for accounts-created / employees-added using admin account</p>
