#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2vh;
  background-color: rgba(173, 173, 173, 0.986);
  padding: 0.3%;
}
#navbar ul li {
  display: inline-block;
  margin-right: 1vw;
}
#navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.5rem;
}
#left-part {
  display: flex;
  align-items: center;
}
#navbar #left-part ul li a {
  color: rgb(46, 46, 46);
}
